# Entorno Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build y binarios
build/build/
build/dist/
build/output/
*.spec

# Datos de ejecución
/data/
*.json

# Logs
*.log

# IDE/Editor
.vscode/
.idea/
