[Unit]
Description=Servidor ESC/POS ligero
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/escpos-server
ExecStart=/home/pi/escpos-server/escpos-server --host 0.0.0.0 --port 8080
Restart=always
Environment=PRINTER_IF=tcp
Environment=PRINTER_HOST=192.168.1.50
Environment=PRINTER_PORT=9100
Environment=PAPER_WIDTH_PX=384

[Install]
WantedBy=multi-user.target
